/* styles.css */

.twobro-page {
    margin: 0;
    padding: 0;
    flex: auto;
    flex-direction: column;
    background-image: url("file:///C:/Users/sifly/OneDrive/Documents/Coding/perfect/src/Pages/images/TwoBro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #000000;
    min-height: 100vh;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Animation de pétales de cerisier */
  @keyframes falling-petals {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  .petal {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff8ac6;
    border-radius: 50%;
    pointer-events: none;
    animation: falling-petals linear infinite;
  }
  
  .petal:nth-child(1) {
    left: 10%;
    animation-duration: 8s;
    animation-delay: 2s;
  }
  
  .petal:nth-child(2) {
    left: 20%;
    animation-duration: 6s;
    animation-delay: 4s;
  }
  
  /* Ajoutez plus de pétales en les décalant à gauche ou à droite */
  .petal:nth-child(3) {
    left: 30%;
    animation-duration: 9s;
    animation-delay: 5s;
  }

  .petal:nth-child(4) {
    left: 40%;
    animation-duration: 9s;
    animation-delay: 2s;
  }

  .petal:nth-child(5) {
    left: 50%;
    animation-duration: 5s;
    animation-delay: 8s;
  }

  .petal:nth-child(6) {
    left: 60%;
    animation-duration: 4s;
    animation-delay: 12s;
  }

  .petal:nth-child(7) {
    left: 70%;
    animation-duration: 8s;
    animation-delay: 9s;
  }

  .petal:nth-child(8) {
    left: 80%;
    animation-duration: 9s;
    animation-delay: 3s;
  }

  .petal:nth-child(9) {
    left: 90%;
    animation-duration: 14s;
    animation-delay: 3s;
  }

  .petal:nth-child(10) {
    left: 100%;
    animation-duration: 10s;
    animation-delay: 6s;
  }

  .petal:nth-child(11) {
    left: 110%;
    animation-duration: 7s;
    animation-delay: 8s;
  }

  .petal:nth-child(12) {
    left: 120%;
    animation-duration: 6s;
    animation-delay: 10s;
  }

  .petal:nth-child(13) {
    left: 130%;
    animation-duration: 8s;
    animation-delay: 12s;
  }

  .petal:nth-child(14) {
    left: 140%;
    animation-duration: 9s;
    animation-delay: 14s;
  } 


  
  