.hacking-animation {
  position: relative;
}

.hacked {
  animation: hackingAnimation 2s linear infinite;
}

@keyframes hackingAnimation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
