.dropdown-menu {
  position: relative;
}

button {
  background: #7b6b6b;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  background: #7b6b6b;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu-items li {
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
}

.menu-items li:hover {
  background: #ccc;
}
