/* Police et style global */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Style du menu */

.menu {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #2f353b;
  color: #fff;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: inherit;
}

.menu-button span {
  margin-right: 5px;
}

.menu-button svg {
  transition: transform 0.2s ease-in-out;
}

.menu-button.open svg {
  transform: rotate(180deg);
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: #2f353b;
  color: #fff;
}

.menu-items.open {
  display: block;
}

.menu-item {
  padding: 0.5em 1em;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.5em 1em;
  transition: background-color 0.2s ease-in-out;
}

.menu-item a:hover {
  background-color: #393e42;
}

.menu-item.active a {
  background-color: #494e52;
}
